.post-wrapper {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto $box-l;
	background-color: #fff;
	border: 2px solid;
	padding: 0;
}

.post {
	padding: $box-m;
}

.post-title {}

.post-img {
	width: 100%;
	height: auto;
}

.post-info{
	background-color: $primary;
	padding: $box-s;
}

.post-author {
	margin-bottom: 0;
}

.author-info {
	text-align: center;
	margin-bottom: $box-s;
}

.author-img {
	border-radius: 50%;
	max-width: 100px;
	width: 100%;
}

.author-email:before {
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	background-image: url("../img/email.png");
	background-size: contain;
	margin-right: 5px;
	position: relative;
	top: 3px;
}

.post-author {}

.rss-box {
	text-align: center;
	margin-bottom: $box-m;
}

