.rss-icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 8px;
}

.facebook-icon-black {
	background-image: url("../img/fb-icon-black.png");
}

.facebook-icon-white {
	background-image: url("../img/fb-icon-white.png");
}

.twitter-icon-black {
	background-image: url("../img/twitter-icon-black.png");
}

.twitter-icon-white {
	background-image: url("../img/twitter-icon-white.png");
}

.pinterest-icon-black {
	background-image: url("../img/pinterest-icon-black.png");
}

.pinterest-icon-white {
	background-image: url("../img/pinterest-icon-white.png");
}

.menu-mobile {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: no-repeat url("../img/menu-button-white.png");
	background-size: contain;
	float: right;
	margin-right: $el-l;
}