//Colors

$accent: #4B6ED9;
$primary: #FFFC2C;
$dark: #1F1F1F;
$light: #D6D6D6;

//Tipography

$title: 'Yanone Kaffeesatz', sans-serif;
$text: 'Quicksand', sans-serif;

//Space

$box-s: 1em; 
$box-m: 2em;
$box-l: 3em;
$box-xl: 4em;

$el-s: 0.5em;
$el-m: 1em;
$el-l: 1.5em;