//Colors

$accent: #4B6ED9;
$primary: #FFFC2C;
$dark: #1F1F1F;
$light: #D6D6D6;

//Tipography

$title: 'Yanone Kaffeesatz', sans-serif;
$text: 'Quicksand', sans-serif;

//Space

$box-s: 24px; 
$box-m: 48px;
$box-l: 72px;
$box-xl: 96px;

$el-s: 12px;
$el-m: 24px;
$el-l: 36px;